# Thanks to https://github.com/alexkaratarakis for these github attribute templates.
# Auto detect text files and perform LF normalization

certs/* linguist-vendored
server/RegisterMessage/certs/* linguist-vendored

